<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Cowell_Region::cowell" title="cowell" sortOrder="10">
					<resource id="Cowell_Region::region_index" title="region index" sortOrder="10"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
