<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Cowell_BasicTraining::Student" title="Student" sortOrder="10">
                    <resource id="Cowell_BasicTraining::Student_save" title="Save Student" sortOrder="10"/>
                    <resource id="Cowell_BasicTraining::Student_delete" title="Delete Student" sortOrder="20"/>
                    <resource id="Cowell_BasicTraining::Student_update" title="Update Student" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
